<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Xieの学习{% endblock %}</title>
</head>
<body>
<h1 style="text-align: center">Xieの学习</h1>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="https://symfony.com/doc/3.4/index.html" target="_blank">Symfony 3.4文档</a></li>
            <li><a href="http://www.symfonychina.com/doc/current/index.html" target="_blank">Symfony 3.4中文文档</a></li>
            <li><a href="https://www.imooc.com/learn/244" target="_blank">Symfony 2 视频</a></li>
            <li><a href="https://github.com/lcp0578/cheat-sheets" target="_blank">GitHub学习文档</a></li>
            <li><a href="https://fanyi.baidu.com/" target="_blank">百度翻译</a></li>
        </ul>
    {% endblock %}
</div>
<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>